.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  margin: 0px;
  background-color: #161616;
  font-family: 'Public Sans', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site {
  height: 100vh;
  color: #E4E4E4;
}

.site-title {
  margin-top:0px;
  padding-top: 50px;
  font-size: 40px;
}

.field-playlistID {
  font-size:18px;
  margin-left:10px;
  background-color: #161616;
  border: 3px solid #392FF5;
  border-radius:10px;
  padding: 10px 20px;
  width: 400px;
  color: #E4E4E4;
/* border-image-source: #132ce7; */

}

.btn-playlistID {
  font-size:18px;
  margin-left:10px;
  background-color: #392FF5;
  border: 3px solid #392FF5;
  padding: 10px 20px;
  color: #fff;
  border-radius:10px;
  cursor: pointer;
}

.btn-playlistID:hover {
  background-color: #544bfd;
  border: 2px solid #544bfd;
}

.grafico {
  margin: 0px auto;
  width: 300px;
  height: 300px;
}

.crop {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  top: 30px;

}

.como-usar {
  display: flex;
  align-items:center;
  margin: 20px auto;
  justify-content: center;
  color: #636363;
}

.como-usar img {
  margin-right: 20px;
}

hr {
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
}

.card {
  background-color: #222222;
  border-radius:16px;
}

.card-thumb {
  width:480px;
  height:300px;
}

.card-thumb p {
  font-size: 16pt;
  font-size: 700;
  position: relative;
  top: 25px;
}


.card-views {
  grid-row-start: 1;
  grid-row-start: 2;
  width:480px;
  height:180px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.totais {
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;

}

.totais span {
  font-size: 40pt;
  font-weight: 700;
  margin: 0px auto;
  background: -webkit-linear-gradient(137deg, rgba(255,0,0,1) 0%, rgba(157,0,171,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dashboard {
  display:grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;

  margin-top:30px;
}

.grafico {
  grid-row-start:1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  /* border: 5px solid #000; */
}
